head
  title PDF Renderer - Test app
body
  +svgTest

template(name='svgTest')
  button PDF
  hr
  if Template.subscriptionsReady
    with customer
      h1= name
      with address
        p= street
        p= city
  else
    p Loading...
  hr
  svg.chart
